createdAt: "2018-11-28T10:24:07.558Z"
updatedAt: "2018-11-28T10:32:24.022Z"
type: "SNIPPET_NOTE"
folder: "72b01804dd2efee9c0c4"
title: "kubectl aliases"
description: "kubectl aliases"
snippets: [
  {
    name: ""
    mode: "Shell"
    content: '''
      ```sh
      alias kc='kubectl';
      
      alias kca='kubectl apply -f';
      
      alias kccv='kubectl config view';
      
      alias kcd='kubectl describe';
      
      alias kcdcm='kubectl describe configmap';
      
      alias kcdcj='kubectl describe cronjob';
      
      alias kcdcr='kubectl describe clusterrole';
      
      alias kcdd='kubectl describe deployment';
      
      alias kcdj='kubectl describe job';
      
      alias kcdp='kubectl describe pod';
      
      alias kcdpv='kubectl describe persistentvolume';
      
      alias kcdpvc='kubectl describe persistentvolumeclaim';
      
      alias kcdn='kubectl describe node';
      
      alias kcdsec='kubectl describe secret';
      
      alias kcds='kubectl describe service';
      
      alias kcdi='kubectl describe ingress';
      
      alias kcdel='kubectl delete';
      
      alias kcdelcm='kubectl delete configmap';
      
      alias kcdelcj='kubectl delete cronjob';
      
      alias kcdelcr='kubectl delete clusterrole';
      
      alias kcdeld='kubectl delete deployment';
      
      alias kcdelj='kubectl delete job';
      
      alias kcdelp='kubectl delete pod';
      
      alias kcdelpv='kubectl delete persistentvolume';
      
      alias kcdelpvc='kubectl delete persistentvolumeclaim';
      
      alias kcdelsec='kubectl delete secret';
      
      alias kcdels='kubectl delete service';
      
      alias kcdeli='kubectl delete ingress';
      
      alias kce='kubectl edit';
      
      alias kcecm='kubectl edit configmap';
      
      alias kcecj='kubectl edit cronjob';
      
      alias kced='kubectl edit deployment';
      
      alias kcej='kubectl edit job';
      
      alias kcep='kubectl edit pod';
      
      alias kcesec='kubectl edit secret';
      
      alias kcexec='kubectl exec';
      
      alias kcexpd='kubectl expose deployment';
      
      alias kces='kubectl edit service';
      
      alias kcei='kubectl edit ingress';
      
      alias kcg='kubectl get';
      
      alias kcgd='kubectl get deploy -o wide';
      
      alias kcgcm='kubectl get configmap -o wide';
      
      alias kcgcj='kubectl get cronjob -o wide';
      
      alias kcgcr='kubectl get clusterrole -o wide';
      
      alias kcgep='kubectl get ep -o wide';
      
      alias kcgi='kubectl get ing -o wide';
      
      alias kcgj='kubectl get jobs -o wide';
      
      alias kcgn='kubectl get nodes -o wide';
      
      alias kcgpv='kubectl get persistentvolume -o wide';
      
      alias kcgpvc='kubectl get persistentvolumeclaim -o wide';
      
      alias kcgp='kubectl get pods -o wide';
      
      alias kcgsec='kubectl get secrets -o wide';
      
      alias kcgs='kubectl get service -o wide';
      
      alias kcl='kubectl logs';
      
      alias kclf='kubectl logs -f';
      
      alias kcro='kubectl rollout';
      
      alias kcrou='kubectl rollout-update';
      
      alias kcrun='kubectl run';
      
      alias kctn='kubectl top node';
      
      alias kctp='kubectl top pod';
      ```
    '''
  }
]
tags: []
isStarred: false
isTrashed: true
